{% extends "web/base.html" %}
{% load static %}
{% block content %}
<style>
  body {
    background-image: url("{% static 'images/background.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
  }
  </style>
<div class="container" style="background-image: url('static/background.png')"></div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center">Stability Prediction Form</h2>
          <form id="StabilityForm">
            <div class="mb-3">
              <label for="date" class="form-label">Date:</label>
              <input type="date" class="form-control" id="date" name="date">
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Time:</label>
              <input type="time" class="form-control" id="time" name="time">
            </div>
            <div class="mb-3">
              <label for="windSpeed" class="form-label">Wind Speed (m/s):</label>
              <input type="number" class="form-control" id="windSpeed" name="windSpeed" step="0.01" placeholder="Enter wind speed in meters per second">
            </div>
            <div class="mb-3">
              <label for="airTemperature" class="form-label">Air Temperature (°C):</label>
              <input type="number" class="form-control" id="airTemperature" name="airTemperature" step="0.1" placeholder="Enter air temperature in Celsius">
            </div>
            <div class="mb-3">
              <label for="airPressure" class="form-label">Air Pressure (hPa):</label>
              <input type="number" class="form-control" id="airPressure" name="airPressure" step="0.1" placeholder="Enter air pressure in hectopascals">
            </div>
            <div class="mb-3">
              <label for="consumption" class="form-label">Consumption for Node 1:</label>
              <input type="number" class="form-control" id="consumption" name="consumption" step="0.01" placeholder="Enter consumption for node 1">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price for Node 1:</label>
              <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Enter price for node 1">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" onclick="POST">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
